## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="bootstrap" file="bootstrap_helper.tmpl" import="*" />
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${bootstrap.html_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body class="home blog">
    <div id="wrap" style="width:850px">
        <div id="container" style="width:560px">
            <%block name="content"></%block>
        </div>
        <div id="sidebar">
            <!--Sidebar content-->
            <h1 id="blog-title">
                <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
            </h1>
            <%block name="belowtitle">
            %if len(translations) > 1:
            <small>
                ${messages("Also available in")}:&nbsp;
                ${base.html_translations()}
            </small>
            %endif
            </%block>
            <ul class="unstyled">
            <li>${license}
            ${base.html_social()}
            ${bootstrap.html_navigation_links()}
            <li>${search_form}
            </ul>
        </div>
        <div id="footer">
            ${content_footer}
        </div>
    </div>
    ${bootstrap.late_load_js()}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <%block name="extra_js"></%block>
    ${body_end}
</body>
