[Desktop Entry]
Name=Relational
GenericName=Relational Algebra
GenericName[it]=Algebra Relazionale
Comment=Learn and experiment relational algebra
Comment[it]=Impara l'algebra relazionale
Exec=relational
Icon=kexi
Terminal=0
Type=Application
Categories=Education;
